#main {
   background-image: url("https://www.publicdomainpictures.net/pictures/180000/velka/sun-clouds-blue-sky-14641020076aM.jpg");
   min-height: 90vh;
}

.container {
   padding-top: 56px;
   padding-bottom: 40px;
   background: #343a40;
   height: 100vh;
}

#about {
   margin-bottom: 40px;
}

.full {
   height: 100%
}

@media screen and (max-height: 500px) {
   .container {
      height: 100%;
   }
   #about {
      margin-bottom: 0px;
   }
}

@media screen and (min-width: 680px) {
  .container {
      padding-top: 69.5px;
      padding-bottom: 44px;
  }
   
}

@media screen and (min-width: 860px) {
  .container {
      padding-top: 84px;
      padding-bottom: 48px;
   }
}
