* {
   font-family: 'Patrick Hand', cursive;
}

#nav-custom {
   position: fixed;
   left: 0;
   bottom: 0;
}

@media screen and (min-width: 680px) {
   * {
      font-size: 20px;
   }
}

@media screen and (min-width: 860px) {
   * {
      font-size: 24px;
   }
}